@import './style_post.css';




.author{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-area: author;
   
}

.author_box{
    order: 1;
    height: 130px;
    width: 130px;
    padding: 20px;
    margin: 20px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    background-image: url('../images/author.jpeg');
}

.author_info {
    order: 2;
    width: 60%;
    padding: 20px;
    margin: 20px;

}

.author_info h1.heading_author{
    font-size:2em;
    text-shadow: 0 0 5px black;
}

.author_info p.tagline_author{
    font-size:larger;
}