@import './style.css';

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px 30px 30px !important;
}


nav ul{
  display:flex;
  justify-content: space-between;
}

nav ul > li{
  list-style: none;
  padding-right:30px;
  color: rgb(11, 22, 59);
  font-size: larger;
  cursor: pointer;
}

nav ul > li a{
  color: rgb(47, 48, 51);
  font-size: larger;
  cursor: pointer;
  text-decoration:none;
}

nav ul > li a:hover{
  color: rgb(50, 162, 190);
  font-size: larger;
  text-decoration:underline;
}

nav ul > li a:active{
  color:rgb(50, 162, 190);
  font-size: larger;
  text-decoration:underline;
}

nav ul > li:last-of-type{
  padding-right: 0;
}


  





  /* If Screen Is Wide Enough */


