@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import './nav.css';
@import './author.css';
@import './content_post.css';
@import './footer.css';



*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: 'Indie Flower', cursive;
    scroll-behavior: smooth;
}

body {
    background-color: rgba(127, 207, 162, 0.705);
    margin: 0 !important;
    padding: 0 !important;
  }

  .container{
    display:grid;
    grid-template-columns: 100vw;
    grid-template-rows: 30vh 40vh 1fr 50px 90px;
    grid-template-areas: 
    "hd_post"
    "author"
    "main_post"
    "social_share"
    "buttons"
    "ft";
  }


/*Media - Small screens */  
@media(max-width:330px){

  .container{
    display:grid;
    grid-template-columns: 100vw;
    grid-template-rows: 30vh auto auto 50px 90px;
    grid-template-areas: 
    "hd_post"
    "author"
    "main_post"
    "social_share"
    "buttons"
    "ft";
  }

  .author_box{
    order: 1;
    width: 150px;
    height: 150px;
    margin: auto;
    margin-top: 50px !important;
  }
  
  .author{
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: author;
   
}

.author_info {
  order: 2;
  width: 80%;
  height: 80%;
  padding: 10px;
  margin: 10px;

}

.mainheading_post h2.name-heading{
  font-size: 3em;
}

}

/*Media - Medium screens */  
@media(max-width:550px){

  .container{
    display:grid;
    grid-template-columns: 100vw;
    grid-template-rows: 30vh auto auto 50px 90px;
    grid-template-areas: 
    "hd_post"
    "author"
    "main_post"
    "social_share"
    "buttons"
    "ft";
  }

  .author_box{
    order: 1;
    width: 150px;
    height: 150px;    
    margin: auto;
    margin-top: 50px !important;
  }
  
  .author{
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: author;
   
}

.author_info {
  order: 2;
  width: 80%;
  height: 80%;
  padding: 10px;
  margin: 10px;

}

.mainheading_post h2.name-heading{
  font-size: 3em;
}

}



